<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-3" style="margin-bottom:100px;">

    <h1 class="text-center">OUR COLLECTIONS</h1>
    <p style="text-align:justify;line-height:1.8;font-size:20px;">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book.
    </p>
    <div class="row">
<!--        {% for i in cat %}-->
<!--            <div class="col-lg-4 col-md-6">-->
<!--                <div class="single-latest-news card mx-auto" style="width:20rem;">-->
<!--                    <a href="{% url 'shop:product_detail' i.id %}"><img src="{{ i.image.url }}" height="200px" width="100%"></a>-->
<!--                    <div class="news-text-box">-->
<!--                        <h2 class="text-center">{{ i.name }}</h2>-->
<!--                        <a href="{% url 'shop:products' %}" class="read-more-btn">Products</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--        the new one -->
        {% for i in cat %}
    <div class="col-lg-4 col-md-6">
        <div class="single-latest-news card mx-auto" style="width:20rem;">
            <a href="{% url 'shop:products_by_category' i.id %}"><img src="{{ i.image.url }}" height="200px" width="100%"></a> <!-- Change the URL to point to the category -->
            <div class="news-text-box">
                <h2 class="text-center">{{ i.name }}</h2>
                <a href="{% url 'shop:products' %}" class="read-more-btn">Products</a>
            </div>
        </div>
    </div>
{% endfor %}

    </div>
</div>
{% endblock %}
